{% include "header.html" %}
{% include 'menu.html' %}
{% load static %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">
        <div class="d-flex flex-column justify-content-center">
            <h5 class="mb-1 mt-3">
                주문 상세/설계
            </h5>
            <p class="text-body" id="orderDate">
                Aug 17,
                <span id="orderYear"></span>, 5:48 (ET)
            </p>
        </div>
        <div class="d-flex align-content-center flex-wrap gap-2">
            <button class="btn btn-label-danger delete-order">Delete Order</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card mb-4">
                <!-- Checkbox -->
                <div class="col-12">
                    <div class="card mb-md-0 mb-4">
                        <h5 class="card-header">
                            <div class="d-flex align-content-center justify-content-between flex-wrap gap-2">
                                <div class="ml-auto align-content-center">제품 설계도</div>
                                <div class="d-flex align-content-center gap-2">
                                    <button class="btn btn-outline-success add-container">
                                        <i class="bx bx-cog"></i>&nbsp; 컨테이너 추가
                                    </button>
                                </div>
                            </div>
                        </h5>
                        <div class="card-body">
                            <div id="jstree"></div>
                        </div>
                    </div>
                </div>
                <!-- /Checkbox -->
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <div class="card-title">
                        <h5>제품</h5>
                    </div>
                </div>
                <div class="card-datatable table-responsive">
                    <table class="datatables-order-details table">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="w-50">코드</th>
                            <th class="w-25">가격</th>
                            <th class="w-25">수량</th>
                            <th>total</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="d-flex justify-content-end align-items-center m-3 mb-2 p-1">
                        <div class="order-calculations">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class='ml-auto d-flex justify-content-end gap-2'>
                        <button class="btn btn-outline-success add-item" id="add-item">
                            <i class="bx bx-cog"></i>&nbsp; 제품 추가
                        </button>
                        <button class="btn btn-outline-info " id="edit-item">
                            <i class="bx bx-edit"></i>&nbsp; 제품 수정
                        </button>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title m-0">주문상황</h5>
                </div>
                <div class="card-body">
                    <ul class="timeline pb-0 mb-0">
                        <li class="timeline-item timeline-item-transparent border-primary">
                            <span class="timeline-point-wrapper">
                                <span class="timeline-point timeline-point-primary"></span></span>
                            <div class="timeline-event">
                                <div class="timeline-header">
                                    <h6 class="mb-0">주문이 완료되었습니다 (주문 ID: #32543)</h6>
                                    <span class="text-muted">목요일 11:29 오전</span>
                                </div>
                                <p class="mt-2"></p>
                            </div>
                        </li>
                        <li class="timeline-item timeline-item-transparent border-primary">
                                <span class="timeline-point-wrapper">
                                    <span class="timeline-point timeline-point-primary"></span></span>
                            <div class="timeline-event">
                                <div class="timeline-header">
                                    <h6 class="mb-0">픽업</h6>
                                    <span class="text-muted"></span>
                                </div>
                                <p class="mt-2"></p>
                            </div>
                        </li>
                        <li class="timeline-item timeline-item-transparent border-primary">
                                    <span class="timeline-point-wrapper">
                                        <span class="timeline-point timeline-point-primary"></span></span>
                            <div class="timeline-event">
                                <div class="timeline-header">
                                    <h6 class="mb-0">발송됨</h6>
                                    <span class="text-muted"></span>
                                </div>
                                <p class="mt-2"></p>
                            </div>
                        </li>
                        <li class="timeline-item timeline-item-transparent border-primary">
                                        <span class="timeline-point-wrapper">
                                            <span class="timeline-point timeline-point-primary"></span></span>
                            <div class="timeline-event">
                                <div class="timeline-header">
                                    <h6 class="mb-0">패키지 도착</h6>
                                    <span class="text-muted"></span>
                                </div>
                                <p class="mt-2"></p>
                            </div>
                        </li>
                        <li class="timeline-item timeline-item-transparent border-left-dashed">
                                            <span class="timeline-point-wrapper">
                                                <span class="timeline-point timeline-point-primary"></span></span>
                            <div class="timeline-event">
                                <div class="timeline-header">
                                    <h6 class="mb-0">배송을 위해 발송됨(예정)</h6>
                                    <span class="text-muted"></span>
                                </div>
                                <p class="mt-2"></p>
                            </div>
                        </li>
                        <li class="timeline-item timeline-item-transparent border-transparent pb-0">
                                                <span class="timeline-point-wrapper">
                                                    <span class="timeline-point timeline-point-secondary"></span></span>
                            <div class="timeline-event pb-0">
                                <div class="timeline-header">
                                    <h6 class="mb-0">배송</h6>
                                </div>
                                <p class="mt-2 mb-0">패키지는 내일 배달될 예정입니다</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title m-0">배치도</h5>
                </div>
                <div class="card-body">
                    <img src="{% static 'assets/img/front-pages/misc/nav-item-col-img.png' %}"
                         class="card-img-top p-1"
                         alt="...">
                </div>
                <div class="card-footer">
                    <div class="ml-auto d-flex justify-content-end">
                        <button class="btn btn-outline-success" id="submit-order">
                            <i class="bx bx-upload"></i>&nbsp; 의뢰
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" id="add-new-record">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel">주문 등록</h5>
        <button type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
        <form class="add-new-record pt-0 row g-2" id="form-add-new-record">
            <div class="col-12">
                <label class="form-label" for="item">아이템</label>
                <select id="item"
                        class="select2 form-select"
                        name="bom_id"
                        data-allow-clear="true"
                        aria-label="Select item">
                    <option value="">Select item</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-6">
                <label class="form-label" for="order_cnt">주문수량</label>
                <input type="number"
                       id="order_cnt"
                       name="order_cnt"
                       class="form-control"
                       placeholder="품목을 선택해 주세요"
                       aria-label="품목을 선택해 주세요"
                       disabled="disabled"/>
            </div>
            <div class="col-sm-12 col-md-6">
                <label class="form-label" for="item_price">공급가</label>
                <div class="input-group input-group-merge">
                    <span id="item_price2" class="input-group-text">
                        <i class="bx bx-dollar"></i>
                    </span>
                    <input type="number"
                           id="item_price"
                           name="item_price"
                           class="form-control dt-salary"
                           placeholder="Enter supply item_price"
                           aria-label="Enter supply item_price"
                           aria-describedby="item_price2"/>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <label class="form-label" for="tax">부가세</label>
                <input type="number"
                       id="tax"
                       name="tax"
                       class="form-control"
                       placeholder="Enter tax"
                       readonly="readonly"/>
            </div>
            <div class="col-sm-12 col-md-6">
                <label class="form-label" for="order_total">합계</label>
                <div class="input-group input-group-merge">
                                        <span id="order_total2" class="input-group-text">
                                            <i class="bx bx-dollar"></i>
                                        </span>
                    <input type="number"
                           id="order_total"
                           name="order_total"
                           class="form-control dt-salary"
                           readonly="readonly"/>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <label class="form-label" for="comment">비고</label>
                <input id="comment"
                       name="comment"
                       class="form-control"
                       rows="3"
                       placeholder="Enter comment"
                       aria-label="Enter comment"/>
            </div>
            <div class="col-sm-12 mt-3" id="formButton">
                <button class="btn btn-primary data-submit me-sm-3 me-1" id="plus-item">추가</button>
                <button type="reset" class="btn btn-outline-info" data-bs-dismiss="offcanvas">초기화</button>
            </div>
        </form>
    </div>
</div>
<div class="content-backdrop fade"></div>
<script>
    let tree = []
    let items = []
    let checkboxTree = $('#jstree');
    let order_id = window.location.href.split('/').pop().split('=').pop()
    $(document).ready(async function () {
        async function getBomTree() {
            let res = fetch(`/api/bom/list?order=${order_id}`)
            let data = await res.then(res => res.json())
            tree = data.map(data => {
                return {
                    id: data.id,
                    parent: data.parent || '#',
                    product_name: data.product_name,
                    part_code: data.part_code,
                    item_price: data.item_price,
                    qty: data.qty,
                    text: data.part_code,
                    product_info: data.product_info,
                    image: data.image,
                    item_id: data.item_id
                }
            })
        }

        async function getItemList() {
            let res = fetch('/api/item/list')
            let data = await res.then(res => res.json())
            items = data.data
        }

        await getBomTree()
        await getItemList()

        let checkboxTree = $('#jstree');
        items.forEach(item => {
            $('#item').append(`<option value="${item.id}">${item.item_name}</option>`)
        })
        
        function drawOrderCalculation(){
            let items_price = tree.reduce((acc, item) => {
                return acc + item.item_price * item.qty
            }, 0)
            $(".order-caculations").html(`
                    <div class="d-flex justify-content-between mb-2">
                        <span class="w-px-100">총 금앧</span>
                        <span class="text-heading">${items_price}</span>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <span class="w-px-100">부가세(10%)</span>
                        <span class="text-heading">${items_price* 0.1}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="w-px-100 mb-0">Total:</h6>
                        <h6 class="mb-0">${items_price * 1.1}</h6>
                    </div>
                    `)
        }
        drawOrderCalculation()
        $('#jstree').jstree({
            core: {
                check_callback: true,
                data: tree
            },
            plugins: [
                'types', 'state', 'contextmenu'
            ],
            contextmenu: {
                items: function (node) {
                    console.log(node)
                    switch (node.parents.length) {
                        case 1:
                            return {
                                컨테이너_변경: {
                                    label: '컨테이너 변경',
                                    action: function (data) {
                                        var inst = $.jstree.reference(data.reference),
                                        obj = inst.get_node(data.reference);
                                        inst.edit(obj);
                                        $('#jstree').on('rename_node.jstree', function (e, data) {
                                            console.log(data)
                                            $.ajax({
                                                url: `/api/bom/edit/${data.node.id}`,
                                                method: 'POST',
                                                data: {
                                                    part_code: data.text
                                                },
                                                headers: {
                                                    'X-CSRFToken': '{{ csrf_token }}'
                                                }
                                            }).done(function (res) {
                                                console.log(res)
                                            })
                                        })
                                }},
                                컨테이너_삭제: {
                                    label: '컨테이너 삭제',
                                    action: function (node) {
                                        let data = $("#jstree").jstree(true).get_node(node.reference);
                                        let offCanvasElement = document.querySelector('#add-new-record');
                                        offCanvasEl = new bootstrap.Offcanvas(offCanvasElement);
                                        offCanvasEl.show();
                                        let formRecord = document.getElementById('form-add-new-record');
                                        let formButton = document.getElementById('formButton');
                                        $("#plus-item").addClass('d-none');
                                        let deleteButton = document.createElement('button');
                                        deleteButton.textContent = '삭제';
                                        deleteButton.classList.add('btn', 'btn-danger', 'data-submit', 'me-sm-3', 'me-z1', 'delete-item');
                                        formButton.appendChild(deleteButton);
                                        let rawItem = data.original 
                                        formRecord.querySelector(`[name=item_price]`).value = rawItem.item_price;
                                        $("#item").val(rawItem.item_id).trigger('change')
                                        $("#order_cnt").val(rawItem.qty).trigger('change')
                                        deleteButton.addEventListener('click', function (e) {
                                            $.ajax({
                                                url: `/api/bom/delete/${data.id}`,
                                                method: 'POST',
                                                headers: {
                                                    'X-CSRFToken': '{{ csrf_token }}'
                                                }
                                            }).done(function (res) {
                                                inst = $('#jstree').jstree(true);
                                                inst.delete_node(data);
                                                offCanvasEl.hide();
                                            })
                                        })
                                    }
                                }
                            }
                        case 2:
                            return {
                                bom_삭제: {
                                    label: 'bom 삭제',
                                    action:  function (node) {
                                        let data = $("#jstree").jstree(true).get_node(node.reference);
                                        let offCanvasElement = document.querySelector('#add-new-record');
                                        offCanvasEl = new bootstrap.Offcanvas(offCanvasElement);
                                        offCanvasEl.show();
                                        let formRecord = document.getElementById('form-add-new-record');
                                        let formButton = document.getElementById('formButton');
                                        $("#plus-item").addClass('d-none');
                                        let deleteButton = document.createElement('button');
                                        deleteButton.textContent = '삭제';
                                        deleteButton.classList.add('btn', 'btn-danger', 'data-submit', 'me-sm-3', 'me-z1', 'delete-item');
                                        formButton.appendChild(deleteButton);
                                        let rawItem = data.original 
                                        formRecord.querySelector(`[name=item_price]`).value = rawItem.item_price;
                                        $("#item").val(rawItem.item_id).trigger('change')
                                        $("#order_cnt").val(rawItem.qty).trigger('change')
                                        deleteButton.addEventListener('click', function (e) {
                                            $.ajax({
                                                url: `/api/bom/delete/${data.id}`,
                                                method: 'POST',
                                                headers: {
                                                    'X-CSRFToken': '{{ csrf_token }}'
                                                }
                                            }).done(function (res) {
                                                inst = $('#jstree').jstree(true);
                                                inst.delete_node(data);
                                                offCanvasEl.hide();
                                            })
                                        })
                                    }
                                },
                               컨트롤러_변경: {
                                    label: '컨트롤러 변경',
                                    action: function (data) {
                                        console.log(data)
                                        var inst = $.jstree.reference(data.reference),
                                        obj = inst.get_node(data.reference);
                                        inst.edit(obj);
                                        $('#jstree').on('rename_node.jstree', function (e, data) {
                                            console.log(data)
                                            $.ajax({
                                                url: `/api/bom/edit/${data.node.id}`,
                                                method: 'POST',
                                                data: {
                                                    part_code: data.text
                                                },
                                                headers: {
                                                    'X-CSRFToken': '{{ csrf_token }}'
                                                }
                                            }).done(function (res) {
                                                console.log(res)
                                            })
                                        })
                                }},
                            }
                        case 3:
                            return {
                                아이템_변경: {
                                    label: '아이템 변경',
                                    action: function (data) {
                                        console.log(data)
                                        var inst = $.jstree.reference(data.reference),
                                            obj = inst.get_node(data.reference);
                                        inst.edit(obj);
                                        $('#jstree').on('rename_node.jstree', function (e, data) {
                                            console.log(data)
                                            $.ajax({
                                                url: `/api/bom/edit/${data.node.id}`,
                                                method: 'POST',
                                                data: {
                                                    part_code: data.text
                                                },
                                                headers: {
                                                    'X-CSRFToken': '{{ csrf_token }}'
                                                }
                                            }).done(function (res) {
                                                console.log(res)
                                            })
                                        })
                                    }
                                }
                            }
                    }
                },
            },
            types: {
                default: {
                    icon: 'bx bx-folder'
                },
                html: {
                    icon: 'bx bxl-html5 text-danger'
                },
                css: {
                    icon: 'bx bxl-css3 text-info'
                },
                img: {
                    icon: 'bx bx-image text-success'
                },
                js: {
                    icon: 'bx bxl-nodejs text-warning'
                }
            }
        });
        checkboxTree.on('select_node.jstree', function (e, data) {
            let filterdTree = $('#jstree').jstree(true).get_json('#', {
                flat: true,
                no_state: true
            });
            let selected = data.selected
            let inst = $('#jstree').jstree(true);
            let node = inst.get_node(selected);
            let parent_level = node.parents.length 
            console.log(selected)
            let child = tree.filter(item => item.parent === parseInt(selected[0]))
            switch (parent_level) {
                case 1:
                    dt_products.data().clear().rows.add(child.map((item, index) => {
                        return {
                            ...item,
                            product_info: 'level 2'
                        }
                    })).draw()
                    break;
                case 2:
                    dt_products.data().clear().rows.add(child.map((item, index) => {
                        return {
                            ...item,
                            product_info: 'level 3'
                        }
                    })).draw();
                    break;
                case 2:
                    let inst = $('#jstree').jstree(true);
                    inst.deselect_all();
                    break;
                default:
                    break;
            }

        });
        var dt_details_table = $('.datatables-order-details');
        if (dt_details_table.length) {
            var dt_products = dt_details_table.DataTable({
                data: tree,
                columns: [
                    {
                        data: 'id'
                    }, {
                        data: 'product_name'
                    }, {
                        data: 'item_price'
                    }, {
                        data: 'qty'
                    }, {
                        data: ''
                    }
                ],
                columnDefs: [
                    {
                        className: 'control',
                        searchable: false,
                        orderable: false,
                        responsivePriority: 2,
                        targets: 0,
                        render: function (data, type, full, meta) {
                            return '';
                        }
                    }, {
                        targets: 1,
                        responsivePriority: 1,
                        searchable: false,
                        orderable: false,
                        render: function (data, type, full, meta) {
                            $product_brand = full['product_name']
                            var stateNum = Math.floor(Math.random() * 6);
                            var states = [
                                'success',
                                'danger',
                                'warning',
                                'info',
                                'dark',
                                'primary',
                                'secondary'
                            ];
                            var $state = states[stateNum],
                                $name = full['part_code'] || full['product_name'],
                                $initials = $name.match(/\b\w/g) || [];
                            $initials = (($initials.shift() || '') + ($initials.pop() || '')).toUpperCase();
                            $output = '<span class="avatar-initial rounded-2 bg-label-' + $state + '">' + $initials + '</span>';
                            var $row_output = '<div class="d-flex justify-content-start align-items-center text-nowrap">' + '<div class="avatar-wrapper">' + '<div class="avatar me-2">' + $output + '</div>' + '</div>' + '<div class="d-flex flex-column">' + '<h6 class="text-body mb-0">' + $name + '</h6>' + '<small class="text-muted">' + $product_brand + '</small>' + '</div>' + '</div>';
                            return $row_output;
                        }
                    }, {
                        targets: 2,
                        searchable: false,
                        orderable: false,
                        render: function (data, type, full, meta) {
                            var $item_price = full['item_price'];
                            var $output = '<span>' + $item_price + '</span>';
                            return $output;
                        }
                    }, {
                        targets: 3,
                        searchable: false,
                        orderable: false,
                        render: function (data, type, full, meta) {
                            var $qty = full['qty'];
                            var $output = '<span class="text-body">' + $qty + '</span>';
                            return $output;
                        }
                    }, {
                        targets: 4,
                        searchable: false,
                        orderable: false,
                        render: function (data, type, full, meta) {
                            var $total = parseInt(full['qty']) * full['item_price'];
                            var $output = $total ? '<h6 class="mb-0">' + $total + '</h6>' : data;
                            return $output;
                        }
                    }
                ],
                order: [
                    1, ''
                ],
                dom: 't',
                responsive: {
                    details: {
                        display: $
                            .fn
                            .dataTable
                            .Responsive
                            .display
                            .modal({
                                header: function (row) {
                                    var data = row.data();
                                    return 'Details of ' + data['full_name'];
                                }
                            }),
                        type: 'column',
                        renderer: function (api, rowIdx, columns) {
                            var data = $
                                .map(columns, function (col, i) {
                                    return col.title !== ''
                                        ? '<tr data-dt-row="' + col.rowIndex + '" data-dt-column="' + col.columnIndex + '">' + '<td>' + col.title + ':' + '</td> ' + '<td>' + col.data + '</td>' + '</tr>'
                                        : '';
                                })
                                .join('');

                            return data
                                ? $('<table class="table" /><tbody />').append(data)
                                : false;
                        }
                    }
                }
            });
        }
        setTimeout(() => {
            let offCanvasElement = document.querySelector('#add-new-record');
            $(".add-item").on('click', function () {
                $("#plus-item").removeClass('d-none');
                $('.delete-item').remove();
                offCanvasEl = new bootstrap.Offcanvas(offCanvasElement);
                offCanvasEl.show();
            });
            $('.add-container').on('click', function () {
                $("#plus-item").removeClass('d-none');
                $('.delete-item').remove();
                offCanvasEl = new bootstrap.Offcanvas(offCanvasElement);
                offCanvasEl.show();
                let inst = $('#jstree').jstree(true);
                inst.deselect_all();
            });
        }, 200);
        let formAddNewRecord = document.getElementById('form-add-new-record');
        fv = FormValidation.formValidation(formAddNewRecord, {
            fields: {
                order_cnt: {
                    validators: {
                        notEmpty: {
                            message: '주문수량은 필수입니다.'
                        }
                    }
                }
            },
            plugins: {
                trigger: new FormValidation
                    .plugins
                    .Trigger(),
                bootstrap5: new FormValidation
                    .plugins
                    .Bootstrap5({eleValidClass: '', rowSelector: '.col-sm-12'}),
                submitButton: new FormValidation
                    .plugins
                    .SubmitButton(),
                autoFocus: new FormValidation
                    .plugins
                    .AutoFocus()
            },
            init: instance => {
                instance.on('plugins.message.placed', function (e) {
                    if (e.element.parentElement.classList.contains('input-group')) {
                        e
                            .element
                            .parentElement
                            .insertAdjacentElement('afterend', e.messageElement);
                    }
                });
            }
        });
        $("#item").on('change', (e) => {
            if (!e.target.value) {
                $('#order_cnt').attr('disabled', 'disabled');
                $('#item_price').val('');
                $('#tax').val('');
                $('#order_total').val('');
            } else {
                $('#order_cnt').removeAttr('disabled');
                $('#order_cnt').on('change', (e) => {
                    $('#order_total').val(e.target.value * $('#item_price').val());
                    let tax = $('#order_total').val() * 0.1;
                    tax = tax.toFixed(2);
                    $('#tax').val(tax);
                })
            }
        })
        $("#plus-item").on('click', function (e) {
            let offCanvasElement = document.querySelector('#add-new-record');
            let offCanvasEl = new bootstrap.Offcanvas(offCanvasElement);
            let formAddNewRecord = $('#form-add-new-record');
            fv.validate().then(function (status) {
                if (status === 'Valid') {
                    let data = formAddNewRecord.serializeArray();
                    let formData = data.reduce((acc, item) => {
                        acc[item.name] = item.value;
                        return acc;
                    }, {});
                    let item_product_name = items[formData.bom_id - 1].item_name;
                    let formInput = {
                        'item_id': formData.bom_id,
                        'product_name': item_product_name,
                        'qty': formData.order_cnt,
                        'item_price': formData.item_price,
                        'total': formData.order_total,
                        'product_info': formData.comment,
                        'image': ''
                    }
                    dt_products.row.add({
                        "id": dt_products.data().length + 1,
                        ...formInput
                    }).draw();
                    let jstreeEl = $('#jstree').jstree(true);
                    selectedTree = jstreeEl.get_selected();
                    parent = selectedTree[0] ? selectedTree[0] : '#';
                    let objNode = {
                        id: tree.length + 1,
                        parent,
                        text: item_product_name,
                        data: formInput
                    }
                    $.ajax({
                        url: `/api/bom/add/${order_id}`,
                        method: 'POST',
                        data: JSON.stringify(objNode),
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        dataType: 'json'
                    }).done(function (data) {
                        let addedBom = data.boms
                        for(let i = 0; i < addedBom.length; i++){
                            let addedBomElement = addedBom[i];
                            let objNode = {
                                id: addedBomElement,
                                parent,
                                text: item_product_name,
                                data: formInput
                            }
                            jstreeEl.create_node(parent, objNode, 'last', function (new_node) {
                                setTimeout(function () {
                                    jstreeEl.edit(new_node);
                                }, 0);
                            });
                            tree.push(objNode);
                        }
                    })
                }
            });
            offCanvasEl.hide();
        })
        $("#edit-item").on('click', function (e) {
            dt_products
                .rows()
                .every(function (rowIdx, tableLoop, rowLoop) {
                    let qty = dt_products
                        .cell(rowIdx, 3)
                        .data();
                    dt_products
                        .cell(rowIdx, 3)
                        .data('<input type="number" class="form-control" value="' + qty + '">');
                    dt_products
                        .cell(rowIdx, 4)
                        .data('<button class="btn btn-outline-danger delete-item"><i class="bx bx-trash"></i></button>');
                });
            $(e.target).addClass('d-none');
            let edit_button = document.createElement('button');
            edit_button
                .classList
                .add('btn', 'btn-outline-success', 'save-item');
            edit_button.innerHTML = '<i class="bx bx-save"></i>&nbsp; 변경 저장';
            edit_button.addEventListener('click', function (e2) {
                dt_products
                    .rows()
                    .every(function (rowIdx, tableLoop, rowLoop) {
                        let qty = dt_products
                            .cell(rowIdx, 3)
                            .node()
                            .querySelector('input');
                        qty = $(qty).val();
                        dt_products
                            .cell(rowIdx, 3)
                            .data(qty);
                        dt_products
                            .cell(rowIdx, 4)
                            .data(qty * dt_products.cell(rowIdx, 2).data());
                        $.ajax({
                            url: 'api/bom/edit/${data.id}',
                            method: 'POST',
                            data: {
                                qty: qty
                            },
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}'
                            }
                        }).done(function (data) {
                        })
                    });
                $(e.target).removeClass('d-none');
                e2
                    .target
                    .remove();

            })
            e
                .target
                .parentElement
                .appendChild(edit_button);
            let deleteButton = $(document).find('.delete-item');
            deleteButton.on('click', function (e2) {
                let id = dt_products.row(e2.target.closest('tr')).data().id;
                let inst = $('#jstree').jstree(true);
                let selected = tree.find(item => item.id == id);
                let node = inst.get_node(selected);
                dt_products
                    .row($(this).parents('tr'))
                    .remove()
                    .draw();
                let checkboxTree = $('#jstree');
                checkboxTree.jstree(true).delete_node(
                    node
                );
                $.ajax({
                    url: '/api/bom/delete',
                    method: 'POST',
                    data: {
                        id: node.id
                    },
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                }).done(message => {
                })

            })
        })
        $("#item").on('change', function (e) {
            let item = e.target.value;
            let product = items.find(item => item.id == e.target.value);
            $('#item_price').val(product.standard_price);
        });
    })
</script>
{% include 'footer.html' %}
