{% include "header.html" %}
{% include 'menu.html' %}
<link rel="stylesheet" href="https://www.jeasyui.com/easyui/themes/material-teal/tree.css"/>
<link rel="stylesheet" href="https://www.jeasyui.com/easyui/themes/material-teal/datagrid.css"/>
{% load static %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">
        <div class="d-flex flex-column justify-content-center">
            <h5 class="mb-1 mt-3 mb-3">
                주문 상세/설계
            </h5>
            <div class="text-body">
                <label for="orderIdList">
                    <span>
                        <i class="bx bx-list-check"></i>&nbsp 주문 ID
                    </span>
                </label>
                <select id="orderIdList" class="select2 form-select">
                    <option value="">Select Order</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <!-- Checkbox -->
                <div class="col-12">
                    <div class="card mb-md-0 mb-4">
                        <h5 class="card-header">
                            <div class="d-flex align-content-center justify-content-between flex-wrap gap-2">
                                <div class="ml-auto align-content-center">제품 설계도</div>
                        <button class="btn btn-outline-success" id="submit-order" onclick="
                            fetch(`/api/order/${order_id}/reg_container/`, {
                                method: 'POST',
                                headers: {
                                'X-CSRFToken': '{{ csrf_token }}'
                                }
                            }).then(res => res.json()).then(data => {
                                console.log(data)
                            })
                        ">
                            <i class="bx bx-upload"></i>&nbsp 의뢰
                        </button>
                    </div>
                        </h5>
                        <div class="card-body">
                            <table id="tg">
                            </table>
                        </div>
                    <div class="card-footer">
                            <button class="btn btn-outline-success add-item">
                                <i class="bx bx-cog"></i>&nbsp 아이템 추가
                            </button>
                            <a href="javascript:void(0)" class="btn btn-info" onclick="edit()">Edit</a>
                            <a href="javascript:void(0)" class="btn btn-primary" onclick="save()">Save</a>
                            <a href="javascript:void(0)" class="btn btn-secondary" onclick="cancel()">Cancel</a>
                            <a href="javascript:void(0)" class="btn btn-danger" onclick="bom_delete()">delete</a>
                    </div>
                    </div>
                </div>
                <!-- /Checkbox -->
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title m-0">주문상황</h5>
                </div>
                <div class="card-body">
                    <ul class="timeline pb-0 mb-0">
                        <li class="timeline-item timeline-item-transparent border-primary">
                            <span class="timeline-point-wrapper">
                                <span class="timeline-point timeline-point-primary"></span></span>
                            <div class="timeline-event">
                                <div class="timeline-header">
                                    <h6 class="mb-0">주문이 완료되었습니다 (주문 ID: #32543)</h6>
                                    <span class="text-muted">목요일 11:29 오전</span>
                                </div>
                                <p class="mt-2"></p>
                            </div>
                        </li>
                        <li class="timeline-item timeline-item-transparent border-primary">
                                <span class="timeline-point-wrapper">
                                    <span class="timeline-point timeline-point-primary"></span></span>
                            <div class="timeline-event">
                                <div class="timeline-header">
                                    <h6 class="mb-0">픽업</h6>
                                    <span class="text-muted"></span>
                                </div>
                                <p class="mt-2"></p>
                            </div>
                        </li>
                        <li class="timeline-item timeline-item-transparent border-primary">
                                    <span class="timeline-point-wrapper">
                                        <span class="timeline-point timeline-point-primary"></span></span>
                            <div class="timeline-event">
                                <div class="timeline-header">
                                    <h6 class="mb-0">발송됨</h6>
                                    <span class="text-muted"></span>
                                </div>
                                <p class="mt-2"></p>
                            </div>
                        </li>
                        <li class="timeline-item timeline-item-transparent border-primary">
                                        <span class="timeline-point-wrapper">
                                            <span class="timeline-point timeline-point-primary"></span></span>
                            <div class="timeline-event">
                                <div class="timeline-header">
                                    <h6 class="mb-0">패키지 도착</h6>
                                    <span class="text-muted"></span>
                                </div>
                                <p class="mt-2"></p>
                            </div>
                        </li>
                        <li class="timeline-item timeline-item-transparent border-left-dashed">
                                            <span class="timeline-point-wrapper">
                                                <span class="timeline-point timeline-point-primary"></span></span>
                            <div class="timeline-event">
                                <div class="timeline-header">
                                    <h6 class="mb-0">배송을 위해 발송됨(예정)</h6>
                                    <span class="text-muted"></span>
                                </div>
                                <p class="mt-2"></p>
                            </div>
                        </li>
                        <li class="timeline-item timeline-item-transparent border-transparent pb-0">
                                                <span class="timeline-point-wrapper">
                                                    <span class="timeline-point timeline-point-secondary"></span></span>
                            <div class="timeline-event pb-0">
                                <div class="timeline-header">
                                    <h6 class="mb-0">배송</h6>
                                </div>
                                <p class="mt-2 mb-0">패키지는 내일 배달될 예정입니다</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" id="add-new-record">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel">주문 등록</h5>
        <button type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
        <form class="add-new-record pt-0 row g-2" id="form-add-new-record">
            <div class="col-12">
                <label class="form-label" for="item">아이템</label>
                <select id="item"
                        class="select2 form-select"
                        name="bom_id"
                        data-allow-clear="true"
                        aria-label="Select item">
                    <option value="">Select item</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-6">
                <label class="form-label" for="order_cnt">주문수량</label>
                <input type="number"
                       id="order_cnt"
                       name="order_cnt"
                       class="form-control"
                       placeholder="품목을 선택해 주세요"
                       aria-label="품목을 선택해 주세요"
                       disabled="disabled"/>
            </div>
            <div class="col-sm-12 col-md-6">
                <label class="form-label" for="item_price">공급가</label>
                <div class="input-group input-group-merge">
                    <span id="item_price2" class="input-group-text">
                        <i class="bx bx-dollar"></i>
                    </span>
                    <input type="number"
                           id="item_price"
                           name="item_price"
                           class="form-control dt-salary"
                           placeholder="Enter supply item_price"
                           aria-label="Enter supply item_price"
                           aria-describedby="item_price2"/>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <label class="form-label" for="tax">부가세</label>
                <input type="number"
                       id="tax"
                       name="tax"
                       class="form-control"
                       placeholder="Enter tax"
                       readonly="readonly"/>
            </div>
            <div class="col-sm-12 col-md-6">
                <label class="form-label" for="order_total">합계</label>
                <div class="input-group input-group-merge">
                <span id="order_total2" class="input-group-text">
                    <i class="bx bx-dollar"></i>
                </span>
                    <input type="number"
                           id="order_total"
                           name="order_total"
                           class="form-control dt-salary"
                           readonly="readonly"/>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <label class="form-label" for="comment">비고</label>
                <input id="comment"
                       name="comment"
                       class="form-control"
                       rows="3"
                       placeholder="Enter comment"
                       aria-label="Enter comment"/>
            </div>
            <div class="col-sm-12 mt-3" id="formButton">
                <button class="btn btn-primary data-submit me-sm-3 me-1" id="plus-item">추가</button>
                <button type="reset" class="btn btn-outline-info" data-bs-dismiss="offcanvas">초기화</button>
            </div>
        </form>
    </div>
</div>
</div>
<div class="content-backdrop fade"></div>
<script>
    let tree = []
    let items = []
    let order_id = window.location.href.split('/').pop().split('=').pop()

    async function getBomTree() {
        if (order_id === 'build') return
        let res = await fetch(`/api/bom/?order=${order_id}`)
        let bomData = await res.json()
        console.log(bomData)
        bomData = bomData.sort((a, b) => b.level - a.level)
        let tempData =[]
        bomData.forEach(data => {
            let parent = data.parent || '#'
            let level = data.level
            let rawData = {
                id: data.id,
                product_name: data.product_name,
                part_code: data.part_code,
                item_price: data.item_price,
                order_cnt: data.order_cnt,
                product_info: data.product_info,
                item_id: data.item
               }
            if(level !== 2){
                children = tempData[data.id]
                tempData[data.id] = []
                tempData[data.id].push(data)
                tempData[data.id].children = children
                rawData.children = children
            }
               if(!tempData[parent]){
                   tempData[parent] = []
               }
               tempData[parent].push(rawData)
        })
        tree = tempData['#']
    }

    async function getItemList() {
        let res = fetch('/api/item')
        let data = await res.then(res => res.json())
        items = data
    }

    var editingId;


    $(document).ready(async function () {

        await getBomTree()
        await getItemList()

        $("#tg").treegrid({
            data: tree,
            idField: 'id',
            treeField: 'product_name',
            columns:[[
                {field:'product_name',title:'제품명', width: '25%'},
                {field:'part_code',title:'코드', editor: 'text', width: '25%'},
                {field:'item_price',title:'가격', width: '20%'},
                {field:'order_cnt',title:'수량', width: '10%', editor: 'text'},
                {field:'product_info',title:'비고', width: '20%'}
            ]],
            onSelect: function (row) {
                let item = items.find(item => item.id == row.item_id)
                let parent_level = parseInt(item.level)
                let filteredItem = items.filter(item => parseInt(item.level) == parent_level + 1);
                $('#item').empty();
                $("#item").append(`<option value="">아이템 선택</option>`)
                filteredItem.forEach(item => {
                    $('#item').append(`<option value="${item.id}">${item.item_name}</option>`);
                });
            },
            rownumbers: true,
            collapsible: true,
            showFooter: true
        })

        items.forEach(item => {
            $('#item').append(`<option value="${item.id}">${item.item_name}</option>`)
        })

      try {
        let orderIdListReq = await fetch('/api/order/');
        if (!orderIdListReq.ok) {
            return new Error('Network response was not ok');
        }
        let orderIdList = await orderIdListReq.json();
        orderIdList = orderIdList.map(order => order.id);
        orderIdList.forEach((orderId) => {
            $("#orderIdList").append(`<option value="${orderId}">${orderId}</option>`);
        });
        $("#orderIdList").val(order_id).trigger("change")
    } catch (error) {
        console.error('There was a problem with the fetch operation:', error);
    }


        setTimeout(() => {
            let offCanvasElement = document.querySelector('#add-new-record')
            $(".add-item").on('click', function () {
                $("#plus-item").removeClass('d-none')
                $('.delete-item').remove()
                offCanvasEl = new bootstrap.Offcanvas(offCanvasElement)
                offCanvasEl.show()
            })
        }, 200)
        let formAddNewRecord = document.getElementById('form-add-new-record')
        fv = FormValidation.formValidation(formAddNewRecord, {
            fields: {
                order_cnt: {
                    validators: {
                        notEmpty: {
                            message: '주문수량은 필수입니다.'
                        }
                    }
                }
            },
            plugins: {
                trigger: new FormValidation
                    .plugins
                    .Trigger(),
                bootstrap5: new FormValidation
                    .plugins
                    .Bootstrap5({eleValidClass: '', rowSelector: '.col-sm-12'}),
                submitButton: new FormValidation
                    .plugins
                    .SubmitButton(),
                autoFocus: new FormValidation
                    .plugins
                    .AutoFocus()
            },
            init: instance => {
                instance.on('plugins.message.placed', function (e) {
                    if (e.element.parentElement.classList.contains('input-group')) {
                        e
                            .element
                            .parentElement
                            .insertAdjacentElement('afterend', e.messageElement)
                    }
                })
            }
        })
        $("#item").on('change', (e) => {
            if (!e.target.value) {
                $('#order_cnt').attr('disabled', 'disabled')
                $('#item_price').val('')
                $('#tax').val('')
                $('#order_total').val('')
            } else {
                $('#order_cnt').removeAttr('disabled')
                $('#order_cnt').on('change', (e) => {
                    $('#order_total').val(e.target.value * $('#item_price').val())
                    let tax = $('#order_total').val() * 0.1
                    tax = tax.toFixed(2)
                    $('#tax').val(tax)
                })
            }
        })
        $("#plus-item").on('click', function (e) {
            let offCanvasElement = document.querySelector('#add-new-record')
            let offCanvasEl = new bootstrap.Offcanvas(offCanvasElement)
            let formAddNewRecord = $('#form-add-new-record')
            fv.validate().then(function (status) {
                if (status === 'Valid') {
                    let data = formAddNewRecord.serializeArray()
                    let formData = data.reduce((acc, item) => {
                        acc[item.name] = item.value
                        return acc
                    }, {})
                    let item_product_name = items.find(
                        item => item.id == formData.bom_id
                    ).item_name
                       parent = $("#tg").treegrid('getSelected').id
                     let formInput = {
                        'item_id': formData.bom_id,
                        'product_name': item_product_name,
                        'order_cnt': formData.order_cnt,
                        'item_price': formData.item_price,
                        'total': formData.order_total,
                        'product_info': formData.comment,
                        'image': ''
                    }
                    let objNode = {
                        order_id: order_id,
                        id: tree.length + 1,
                        parent,
                        text: item_product_name,
                       ...formInput
                    }
                    console.log({...formInput, part_code: formInput.product_name}   )
                    $.ajax({
                        url: `/api/bom/`,
                        method: 'POST',
                        data: objNode,
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        dataType: 'json'
                    }).done(async function (data) {
                        let addedBom = data.boms
                        for(let i = 0 ;i < addedBom.length; i++){
                            let addedBomElement = addedBom[i]
                        }
                        await getBomTree()
                        $("#tg").treegrid('loadData', tree)
                    })
                }
            })
            offCanvasEl.hide()
        })
        $("#edit-item").on('click', function (e) {

            $(e.target).addClass('d-none')
            let edit_button = document.createElement('button')
            edit_button
                .classList
                .add('btn', 'btn-outline-success', 'save-item')
            edit_button.innerHTML = '<i class="bx bx-save"></i>&nbsp 변경 저장'
            edit_button.addEventListener('click', function (e2) {

                $(e.target).removeClass('d-none')
                e2
                    .target
                    .remove()

            })
            e
                .target
                .parentElement
                .appendChild(edit_button)
            let deleteButton = $(document).find('.delete-item')
            deleteButton.on('click', function (e2) {
                let selected = tree.find(item => item.id == id)

                $.ajax({
                    url: `/api/bom/${id}/delete_bom/`,
                    method: 'DELETE',
                    data: {
                        id: node.id
                    },
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                }).done(message => {
                })

            })
        })
        $("#item").on('change', function (e) {
            let item = e.target.value
            let product = items.find(item => item.id == e.target.value)
            $('#item_price').val(product.standard_price)
        })
        $("#orderIdList").on('change', async function (e) {
            order_id = e.target.value
            console.log(order_id)
            await getBomTree()
            await getItemList()
            $("#tg").treegrid('loadData', tree)
        })
    })

    var editingId;
    function edit(){
        if (editingId != undefined){
            $('#tg').treegrid('select', editingId);
            return;
        }
        var row = $('#tg').treegrid('getSelected');
        if (row){
            editingId = row.id
            console.log(editingId)
            $('#tg').treegrid('beginEdit', editingId);
        }
    }
    function save(){
         if (editingId != undefined){
            let t = $('#tg');
            t.treegrid('endEdit', editingId);
            editingId = undefined;
            let persons = 0;
            let rows = t.treegrid('getChildren');
            let row = t.treegrid('getSelected');
            for(let i=0; i<rows.length; i++){
                let p = parseInt(rows[i].persons);
                if (!isNaN(p)){
                    persons += p;
                }
            }
            fetch(`/api/bom/${row.id}/edit_bom_data/`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify({
                    'id': row.id,
                    'part_code': row.part_code,
                    'order_cnt': row.order_cnt,
                    'product_info': row.product_info,
                })
            }).then(res => res.json())
            .then(data => {
                console.log(data)
            })
            $("#tg").treegrid('reload');
        }
    }
    function cancel(){
        if (editingId != undefined){
            $('#tg').treegrid('cancelEdit', editingId);
            editingId = undefined;
        }
    }
    function bom_delete(){
        let t = $('#tg');
        let row = t.treegrid('getSelected');
          fetch(`/api/bom/${row.id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            }).then(res => res)
            .then(data => {
                $("#tg").treegrid('remove', row.id);
            })

    }


</script>
{% include 'footer.html' %}
