{% include "header.html" %}
{% include 'menu.html' %}
{% load static %}
<div class="col-md-12 order-3 order-lg-12 mb-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <span class="mx-2" id="register">
        가입 순
        <span>▼</span>
      </span>
      <span class="ml-2" id="lastLogin">
        최근 접속 순
        <span>▼</span>
      </span>
    </div>
    <div class="ml-auto d-flex">
      <input type="text" class="form-control mx-2" placeholder="검색어를 입력하세요"/>
      <button class="btn me-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample" onclick="toggleCollapse(-1)">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header py-3"></div>
    <div class="tab-content pt-0">
      <div class="tab-pane fade show active">
        <div class="table-responsive text-start">
          <table class="table border">
            <thead class="">
              <tr>
                <td colspan="7" class="">
                  <div class="collapse p-2" id="collapseExample" style="">
                <h3>
                    유저 추가
                </h3>
                  <form class="row flex-wrap" action='' id="userAddForm" href="javascript:void(0)">
                    <div class="col-12 d-flex align-items-end mt-3 mt-sm-0 justify-content-end align-content-center">
                      <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                        <i class="fas fa-eye"> 닫기</i>
                      </button>
                      <button class="btn data-submit" type="submit">
                        <i class="fas fa-add"> 추가</i>
                      </button>
                    </div>
                </form>
              <div class="d-flex align-items-center gap-2 justify-content-end align-content-center mt-3">
                <span class="badge bg-primary">관리자</span>
                <span class="badge bg-secondary">사용자</span>
              </div>
            </div>
          </td>
        </tr>
              <tr>
                <th>아이디(이메일)</th>
                <th>법인명</th>
                <th>대표자명</th>
                <th>연락처</th>
                <th>가입일자</th>
                <th>마지막 로그인</th>
                <th></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const TODAY = 0
  const YESTERDAY = 1
  const THIRTY_DAYS_AGO = 2
  const ONE_MONTHS_AGO = 30
  const FOUR_MONTHS_AGO = 120
  const A_LONG_TIME_AGO = 360
  let userData = []
    const userElements = {
    // 사용자 정보
    'user_name': '이름',
    'email': '이메일',
    'password': '비밀번호',
    'confirm_password': '비밀번호 확인',
    'tel': '전화번호',
    'address': '주소',
    'signature': '서명',
  }
  const entElements = {
    // 업체 정보
    'company_name': '회사명',
    'owner_name': '대표자명',
    'charge_name': '담당자명',
    'charge_tel': '담당자 전화번호',
    'charge_pos': '담당자 직책',
    'licensee_no': '사업자 등록번호',
    'bus_con': '업종',
    'bus_event': '업태',
    'postal_code': '우편번호',
    'addr': '회사 주소',
    'office_tel': '사무실 전화번호',
    'office_fax': '사무실 팩스번호',
    'office_email': '사무실 이메일',
    'etc': '기타',
    'cus_type': '고객 유형'
  }
    const elements = {
    ...userElements,
    ...entElements
  }
  let formValidationOption;
    document.addEventListener('DOMContentLoaded', function (e) {
      const formAddNewRecord = document.getElementById('userAddForm')

    $("#userAddForm").prepend(
        Object.keys(elements).map((el) => {
            return `<div class="col-md-3 col-sm-12 p-2">
                <div class="input-group input-group-merge">
                    <span class="input-group-text fs-tiny">
                        ${elements[el]}
                    </span>
                    <input type="text" name="${el}" class="form-control border p-2">
                </div>
            </div>`})
        .join(''))
      formValidationOption = {
        fields: {
              email: {
                  validators: {
                      notEmpty: {
                          message: '이메일이 필요합니다'
                      },
                      emailAddress: {
                          message: '적합한 이메일 형식이 아닙니다'
                      }
                  }
              },
              company_name: {
                  validators: {
                      notEmpty: {
                          message: '기업명이 없습니다'
                      }
                  }
              },
      },
          plugins: {
              trigger: new FormValidation
                  .plugins
                  .Trigger(),
              bootstrap5: new FormValidation
                  .plugins
                  .Bootstrap5({
                      // Use this for enabling/changing valid/invalid class
                      // eleInvalidClass: '',
                      eleValidClass: '',
                      rowSelector: '.col-sm-12'
                  }),
              autoFocus: new FormValidation
                  .plugins
                  .AutoFocus()
          }
  }


        let fv = FormValidation.formValidation(formAddNewRecord, formValidationOption)
        formAddNewRecord.addEventListener('submit', function (e) {
          e.preventDefault()
          fv.validate().then((status) => {
              if (status === 'Valid') {
                  let formData = new FormData()
                  let userAddFormElements = Object.keys(elements)
                  userAddFormElements.forEach((el) => {
                      formData.append(el, document.querySelector(`input[name=${el}]`).value)
                  })
                  fetch('/api/user/', {
                      method: 'POST',
                      body: formData,
                      headers: {
                          'X-CSRFToken': '{{ csrf_token }}'
                      }
                  }).then((res) => {
                      if (res.ok) {
                        Swal.fire({
                          title: "추가 완료",
                          message: `${formData.get("user_name")}이 추가되었습니다`,
                          icon: "success"
                        });
                          location.reload()
                      } else {
                        Swal.fire({
                          title: "오류",
                          message: `${formData.get("user_name")}이 추가 중 오류가 발생했습니다`,
                          icon: "error"
                        });
                          alert('추가에 실패하였습니다.')
                      }
                  })
          }
      })
  })
        init()
  })
  async function getUserData() {
    let data = await fetch("/api/user/")
    return data.json()
  }
  const table = document.querySelector("table tbody")
  const thead = document.querySelector("table thead")
  async function drawCustomer(userData) {
    table.innerHTML = ''
    userData.results.forEach((data, idx) => {
      let regDate = data.created_at.split("T")[0]
      let lastLogin = data.updated_at.split("T")[0]

      let afterRegDate = ((new Date() - new Date(regDate)) / 1000 / 60 / 60 / 24).toFixed(0)
      lastLogin = ((new Date() - new Date(lastLogin)) / 1000 / 60 / 60 / 24).toFixed(0)

      afterRegDate = parseInt(afterRegDate)
      lastLogin = parseInt(lastLogin)
      let ent = data.ent
      let regTable = {
        [TODAY]: '<span class="badge bg-danger">오늘</span>',
        [YESTERDAY]: '<span class="badge bg-warning">어제</span>',
        [THIRTY_DAYS_AGO]: '<span class="badge bg-info">그제</span>',
        [ONE_MONTHS_AGO]: '<span class="badge bg-success">한달 전</span>',
        [FOUR_MONTHS_AGO]: '<span class="badge bg-primary">4개월 전</span>',
        [A_LONG_TIME_AGO]: '<span class="badge bg-secondary">오래 전</span>'
      }
      let regBadge = afterRegDate < 1
        ? regTable[TODAY]
        : afterRegDate < 2
          ? regTable[YESTERDAY]
          : afterRegDate < 3
            ? regTable[THIRTY_DAYS_AGO]
            : afterRegDate < 30
              ? regTable[ONE_MONTHS_AGO]
              : afterRegDate < 120
                ? regTable[FOUR_MONTHS_AGO]
                : regTable[A_LONG_TIME_AGO]
      let lastLoginBadge = lastLogin < 1
        ? regTable[TODAY]
        : lastLogin < 2
          ? regTable[YESTERDAY]
          : lastLogin < 3
            ? regTable[THIRTY_DAYS_AGO]
            : lastLogin < 30
              ? regTable[ONE_MONTHS_AGO]
              : lastLogin < 120
                ? regTable[FOUR_MONTHS_AGO]
                : regTable[A_LONG_TIME_AGO]
      let tr = document.createElement("tr")
      tr.innerHTML = `
          <td>
            ${data.email}
            </td>
          <td>
            <div class="d-flex align-items-center">
              <span>${ent.company_name}</span>
            </div>
          </td>
          <td>${ent.owner_name}</td>
          <td>${data.tel || '010-****-****'}</td>
          <td>
            ${regBadge}
          </td>
          </td>
          <td>
            ${lastLoginBadge}
          </td>
          <td>
            <div class="d-flex justify-content-between align-items-center gap-3">
              <button class="btn me-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample${idx}" aria-expanded="true" aria-controls="collapseExample${idx}" onclick="toggleCollapse(${idx})">
                <i class="fas fa-eye"></i>
              </button>
            </div>
          </td>`
          table.appendChild(tr)
          tr = document.createElement("tr")
          tr.innerHTML = `<td colspan="7" class="">
        <div class="collapse" id="collapseExample${idx}">
            <h3>
                ${data.user_name} 정보
            </h3>
              <form class="row flex-wrap d-flex" action='' href="javascript:void(0)">
                ${Object.keys(userElements).map((el) => {
                  return `<div class="col-md-3 col-sm-12 p-2">
                    <div class="input-group input-group-merge">
                        <span class="input-group-text fs-tiny">
                          ${elements[el]}
                        </span>
                        <input type="${el.includes("password") ? 'password': 'text'}" name="${el}" class="form-control border p-2" value="${data[el] || ''}" />
                    </div>
                  </div>`
                }).join('')}
                ${Object.keys(entElements).map((el) => {
                  return `<div class="col-md-3 col-sm-12 p-2">
                    <div class="input-group input-group-merge">
                        <span class="input-group-text fs-tiny">
                          ${elements[el]}
                        </span>
                        <input name="${el}" type="${el.includes("tel") ? "tel" : "text"}" class="form-control border p-2" value="${ent[el] || ''}"/>
                    </div>
                  </div>`
                }).join('')}
                <div class="col-12 d-flex align-items-end mt-3 mt-sm-0 justify-content-end align-content-center">
                  <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample${idx}" aria-expanded="true" aria-controls="collapseExample${idx}">
                    <i class="fas fa-eye"> 닫기</i>
                  </button>
                  <button class="btn data-submit" type="submit">
                    <i class="fas fa-edit"> 수정</i>
                  </button>
                  <button id="delete${idx}" class="btn" data-bs-toggle="collapse" data-bs-target="#collapseExample${idx}" aria-expanded="true" aria-controls="collapseExample${idx}">
                    <i class="fas fa-trash"> 삭제</i>
                  </button>
                </div>
            </form>
          <div class="d-flex align-items-center gap-2 justify-content-end align-content-center mt-3">
            <span class="badge bg-primary">${data.is_master ? '관리자' : '사용자'}</span>
          </div>
        </div>
      </td>`
      let user_id = data.id
      table.appendChild(tr)
        let fv = FormValidation.formValidation(document.getElementById(`collapseExample${idx}`), formValidationOption)
        $(`#collapseExample${idx} form`).on('submit', function (e) {
        e.preventDefault()
        fv.validate().then((status) => {
          if (status === 'Valid') {
            let formData = new FormData()
            let doc = document.getElementById(`collapseExample${idx}`)
            let userElementInputNameList = Object.keys(userElements)
            userElementInputNameList.forEach((el) => {
              formData.append(el, doc.querySelector(`input[name=${el}]`).value)
            })
            let entElementInputNameList = Object.keys(entElements)
            entElementInputNameList.forEach((el) => {
              formData.append(el, doc.querySelector(`input[name=${el}]`).value)
            })
            fetch(`/api/user/${user_id}/`, {
              method: 'PATCH',
              body: formData,
              headers: {
                'X-CSRFToken': '{{ csrf_token }}'
              }
            }).then((res) => {
               $(`#collapseExample${idx}`).collapse('hide')
               Swal.fire({
                title: "수정 완료",
                text: `${formData.get("user_name")}가 수정 완료 되었습니다.`,
                icon: "success"
              });
            })
          }
        })
  })
  $(`#delete${idx}`).on("click", (e)=>{
    fetch(`/api/user/${user_id}/`, {
      method: 'delete',
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      }
    }).then(async (res) => {
        $(`#collapseExample${idx}`).collapse('hide')
        Swal.fire({
          title: "삭제 완료",
          icon: "success"
        });
        drawCustomer(await getUserData())
    })
})
  })
}
  function toggleCollapse(idx) {
    const collapses = $('.collapse');
    collapses.each((i, el) => {
        $(el).collapse('hide');
    });
    console.log(collapses)
    const targetCollapse = document.querySelector('#collapseExample' + idx);
    $(targetCollapse).collapse('show')
  }
  document
    .getElementById("register")
    .addEventListener("click", async function () {
      userData.results = userData.results.sort((a, b) => new Date(a.created_at) - new Date(b.created_at))
      await drawCustomer(userData)
    })
  document
    .getElementById("lastLogin")
    .addEventListener("click", async function () {
      userData.results = userData.results.sort((a, b) => new Date(a.updated_at) - new Date(b.updated_at))
      await drawCustomer(userData)
    })


  async function init(){
    userData = await getUserData()
    await drawCustomer(userData)
  }
</script>
{% include 'footer.html' %}
