{% include "header.html" %}
{% include 'menu.html' %}
{% load static %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class='d-flex justify-content-between align-items-center mb-4'>
        <div>
            <span class="mx-2">
                최신 순 <span>▼</span>
            </span>
            <span class="ml-2">
                재배동 많은 순 <span>▼</span>
            </span>
        </div>
        <div class="ml-auto d-flex">
            <input type="text" class="form-control mx-2" placeholder="검색어를 입력하세요">
            <span class="btn btn-primary align-content-end inline"><i class="fas fa-edit"></i></span>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">제배동</h5>
        <div class="table-responsive text-nowrap">
          <table class="table">
            <thead class="table-light">
              <tr>
                <th>Project</th>
                <th>Client</th>
                <th>Users</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0" id="plantation_tbody">
            </tbody>
          </table>
        </div>
      </div>
</div>
<script>
      $(document).ready(async function() {
        let plantation = await fetch('/api/plantation/get_container_by_owner')
        plantation = await plantation.json()
          console.log(plantation)
        plantation.forEach(async (data) => {
            let userData = await fetch(`/api/user/${data.owner_id}`)
            userData = await userData.json()
            console.log(data.containers)
            $("#plantation_tbody").append(`
             <tr>
                <td>
                  <i class="fab fa-vuejs fa-lg text-success me-3"></i>
                  <span class="fw-medium">
                  ${userData['ent']['company_name']}
                </td>
                <td>${userData['user_name']}
                <td>
                    <ul class="list-unstyled users-list avatar-group d-flex align-items-center">
                      ${data.containers.map(text =>
                          `<li
                          data-bs-toggle="tooltip"
                          data-popup="tooltip-custom"
                          data-bs-placement="top"
                          class="avatar avatar-md pull-up"
                          title="${text}">
                          <img src="{% static 'assets/img/avatars/5.png' %}" alt="Avatar" class="rounded-circle" />
                        </li>`
                      )}
                    </ul>
                </td>
                <td><span class="badge bg-label-info me-1">Scheduled</span></td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"
                        ><i class="bx bx-edit-alt me-1"></i> Edit</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        ><i class="bx bx-trash me-1"></i> Delete</a
                      >
                    </div>
                  </div>
                </td>
              </tr>
            `)
        })
    })
</script>
{% include 'footer.html' %}
