{% load static %}
{% include "header.html" %}
{% include 'menutemp.html' %}

<div class="flex-grow-1 container-p-y"
     xmlns="http://www.w3.org/1999/html"
     style="background-color:#F6F6F6 !important;
            padding-right:9.625rem;
            margin-top: 1.625rem;
            padding-left:9.625rem">
    <!--    row1-->

          <!-- inline calendar (flatpicker) -->
    <div style="--bs-gutter-x: 2.625rem;">
        <div class="row" style="display: flex">
            <select id="myDropdown" style="display: inline-flex;padding: 16px 17px;align-items: center;gap: 66px; border-radius: 6px;background: var(--0-b, #FFF);width: 13%" onchange="logSelectedOption(false)" onload="logSelectedOption(true)">
            </select>
            <div class="col app-calendar-sidebar" id="app-calendar-sidebar">
                <div class="datepicker-container">
                    <input type="text" id="datepickerToggle"  style="display: inline-flex;height: 56px;padding: 16px 22px;align-items: flex-end;gap: 17px;flex-shrink: 0;border-radius: 6px;background: var(--0-b, #FFF);" placeholder="Select a date range" readonly>
                    <div class="datepicker-box " id="datepickerBox">
                        <div class="event-sidebar" id="addEventSidebar"></div>
                        <div class="datepicker-footer" >
                            <button id="applyButton">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        let selectedRange = [];
        document.addEventListener('DOMContentLoaded', function() {
            const today = new Date();
            const sevenDaysAgo = new Date();
            sevenDaysAgo.setDate(today.getDate() - 6);
            sevenDaysAgo.setHours(0, 0, 0, 0); // Set time to 00:00:00
            const endOfDay = new Date();
            endOfDay.setHours(23, 59, 59, 999); // Set time to 23:59:59.999

            // Ensure the element is available before initializing
            const addEventSidebar = document.getElementById("addEventSidebar");
            if (addEventSidebar) {
                // Initialize the flatpickr datepicker with range mode
                const datepicker = flatpickr(addEventSidebar, {
                    inline: true,
                    showMonths: 1, // Show two monshowMonths: 2, // Show two mon
                    mode: "range",
                    defaultDate: [sevenDaysAgo, endOfDay],
                    onChange: function(selectedDates, dateStr, instance) {
                        selectedRange = selectedDates;
                    }
                });
                selectedRange = [sevenDaysAgo, endOfDay];
            } else {
                console.error("Element with ID 'addEventSidebar' not found.");
            }

            // Get the elements
            const datepickerToggle = document.getElementById('datepickerToggle');
            const datepickerBox = document.getElementById('datepickerBox');
            const applyButton = document.getElementById('applyButton');
            datepickerToggle.value = `${sevenDaysAgo.toLocaleDateString()} - ${endOfDay.toLocaleDateString()}`;

            // Function to toggle the datepicker visibility
            function toggleDatepicker() {
                if (datepickerBox.style.display === "none" || datepickerBox.style.display === "") {
                    datepickerBox.style.display = "block";
                } else {
                    datepickerBox.style.display = "none";
                }
            }

            // Add click event listener to the toggle input box
            datepickerToggle.addEventListener('click', toggleDatepicker);

            // Hide the datepicker if clicked outside of it
            document.addEventListener('click', function(event) {
                if (!datepickerBox.contains(event.target) && event.target !== datepickerToggle) {
                    datepickerBox.style.display = "none";
                }
            });

            // Apply button event listener
            applyButton.addEventListener('click', function() {
                if (selectedRange.length === 2) {
                    const startDate = new Date(selectedRange[0]);
                    startDate.setHours(0, 0, 0, 0); // Set time to 00:00:00
                    const endDate = new Date(selectedRange[1]);
                    endDate.setHours(23, 59, 59, 999); // Set time to 23:59:59.999

                    datepickerToggle.value = `${startDate.toLocaleDateString()} - ${endDate.toLocaleDateString()}`;
                } else {
                    alert("Please select a date range.");
                }
                toggleDatepicker(); // Hide the datepicker after applying the date range
                logSelectedOption();
            });
        });
    </script>
    <div id="selectedOptionDisplay" style="margin-top: 10px;">
            <!-- 선택된 옵션이 여기에 표시됩니다 -->
    </div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
         async function fetchData(startDate, endDate, conId, senIds) {
            const response = await fetch('/api/util/fetch-data/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({ startDate, endDate, conId, senIds })
            });

            const data = await response.json();
            return data.map(d => ({
                date: new Date(d.date),
                value: d.value
            }));
        }
        let conIdSenidMap = {};
        let uniqueGtrSenName = [];
                // Fetch data from the server endpoint
        fetch('/api/util/user-table-data/') // replace with your actual endpoint URL
            .then(response => response.json())
            .then(data => {
                const dropdown = document.getElementById('myDropdown');
                conIdSenidMap = data.con_id_senid_map;
                uniqueGtrSenName = data.unique_gtr_sen_name;

                const sortedEntries = Object.entries(conIdSenidMap).sort(([conId1], [conId2]) => conId1 - conId2);

                sortedEntries.forEach(([conId, conInf]) =>{
                    const option = document.createElement('option');
                    option.value = conId; // Adjust based on your actual data structure
                    option.textContent = conInf.con_name; // Adjust based on your actual data structure
                    dropdown.appendChild(option);
                });
                const initialSelectedIndex = 0; // Set to the desired index
                dropdown.selectedIndex = initialSelectedIndex;
                logSelectedOption();
            })
            .catch(error => console.error('Error fetching data:', error));

        async function logSelectedOption() {
            const dropdown = document.getElementById('myDropdown');
            const selectedIndex = dropdown.selectedIndex;
            const selectedOption = dropdown.options[selectedIndex].value;
            const isoStartDate = new Date(selectedRange[0]);
            isoStartDate.setHours(0, 0, 0, 0); // Set time to 00:00:00
            const isoEndDate = new Date(selectedRange[1]);
            isoEndDate.setHours(23, 59, 59, 999); // Set time to 23:59:59.999
            const startDate = isoStartDate.toISOString();
            const endDate = isoEndDate.toISOString();
            const displayDiv = document.getElementById('selectedOptionDisplay');
            console.log(startDate);
            {#const startDate = isoStartDate.toISOString().split('T')[0] + 'T00:00:00.000';#}
            {#const endDate = isoEndDate.toISOString().split('T')[0] + 'T00:00:00.000';#}
            displayDiv.innerHTML = "";
            Object.entries(conIdSenidMap).forEach(async ([conId, conInf]) => {
                if(conId === selectedOption){
                    for (let uniqueSenName of uniqueGtrSenName) {
                        const senIds = Object.keys(conInf.gtr).filter(senid => conInf.gtr[senid].sen_name === uniqueSenName);
                        const data = await fetchData(startDate, endDate, conId, senIds);
                        const uniqueId = `chart-container-${uniqueSenName.replace(/\s+/g, '-')}-${conId}`;
                        var chartId =`chartContainer${uniqueId}`;
                        let card = `${uniqueSenName}
                            <div class="col-lg-8 order-lg-2 mb-4" style="border-radius: 15px; width: 100%; min-width: 1359px !important; background: var(--Gray-0, #FFF)">
                                <div class="card" style="box-shadow: 0 0px red; --bs-card-cap-padding-x: 1.0rem">
                                    <div class="card-header" style="justify-content: space-between; display: flex; flex-direction: row; padding-bottom:0.3rem">
                                        <div style="justify-content:flex-start; display: flex;">
                                            <div class="m-0 me-2 pb-3" style="color: var(--80-w, #595757);font-family: Pretendard;font-size: 24px;font-style: normal;font-weight: 500;line-height: normal;padding-right:1.2rem">조회한 기간의 평균 수치</div>
                                            <h5 class="m-0 me-2 pb-3" style="color: var(--40-w, #B5B6B6); font-family: Pretendard; font-size: 22px; width:201; font-style: normal; font-weight: 600; line-height: normal">d111111111</h5>
                                        </div>
                                    </div>
                                    <div class="text-nowrap" style="padding-bottom: 2rem; padding-left: 4.0rem; padding-right: 1.625rem;justify-content:flex-start;align-items: center;display: flex;">
                                        <!-- Additional content can be added here -->
<button class="prev-button" style="position: absolute;top: 50%;transform: translateY(-50%);padding: 10px;background-color: #007BFF;color: white;border: none;cursor: pointer;z-index: 10;left: 0px;">Prev</button>
    <div id="${chartId}" class="chart-container" style = "position: relative;width: 95%;overflow: hidden;"></div>
<button class="next-button" style="position: absolute;top: 50%;transform: translateY(-50%);padding: 10px;background-color: #007BFF;color: white;border: none;cursor: pointer;z-index: 10;right: 0px;">Next</button>
                                    </div>
                                </div>
                            </div>`;
                            displayDiv.innerHTML += card;
                            drawChart(data, chartId,selectedRange);
                }
                }

            });
        }
        function drawChart(dataset, chartId, selectedRange) {
            const margin = { top: 70, right: 30, bottom: 40, left: 25 };
            const width = 1200 - margin.left - margin.right;
            const height = 500 - margin.top - margin.bottom;
            const viewWidth = 1200;
            const tickInterval = (100 / 7) * 6;
            const totalWidth = 2400;

            let startDate = new Date(selectedRange[0]);
            startDate.setHours(0, 0, 0, 0);
            let endDate = new Date(selectedRange[1]);
            endDate.setDate(endDate.getDate() + 1);
            endDate.setHours(0, 0, 0, 0);

            d3.select(`#${chartId}`).selectAll("*").remove();

            const x = d3.scaleTime().range([0, totalWidth]);
            const y = d3.scaleLinear().range([height, 0]);

            const svg = d3.select(`#${chartId}`)
                .append("svg")
                .attr("width", totalWidth + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", `translate(${margin.left},${margin.top})`);

            svg.append("defs").append("clipPath")
                .attr("id", `clip-${chartId}`)
                .append("rect")
                .attr("width", viewWidth)
                .attr("height", height);

            x.domain([startDate, endDate]);
            y.domain([0, d3.max(dataset, d => d.value)]);

            const xAxis = d3.axisBottom(x)
                .ticks(d3.timeDay.every(1))
                .tickFormat(d3.timeFormat("%Y.%m.%d"));

            const yAxis = d3.axisLeft(y);

            const xAxisG = svg.append("g")
                .attr("transform", `translate(0,${height})`)
                .call(xAxis);

            svg.append("g").call(yAxis);

            const hourlyTicks = d3.timeHour.every(1).range(d3.extent([startDate, endDate])[0], d3.extent([startDate, endDate])[1]);
            svg.selectAll(".hourly-grid")
                .data(hourlyTicks)
                .enter()
                .append("line")
                .attr("class", "hourly-grid")
                .attr("x1", d => x(d))
                .attr("x2", d => x(d))
                .attr("y1", 0)
                .attr("y2", height)
                .attr("stroke", d => d.getHours() % 6 === 0 ? "#aaa" : "#ddd")
                .attr("stroke-width", d => d.getHours() % 6 === 0 ? 0.8 : 0.5);

            svg.selectAll(".y-grid")
                .data(y.ticks())
                .enter()
                .append("line")
                .attr("class", "y-grid")
                .attr("x1", 0)
                .attr("x2", totalWidth)
                .attr("y1", d => y(d))
                .attr("y2", d => y(d))
                .attr("stroke", "#ddd")
                .attr("stroke-width", 0.5);

            const line = d3.line()
                .x(d => x(new Date(d.date)))
                .y(d => y(d.value));

            const path = svg.append("path")
                .datum(dataset)
                .attr("fill", "none")
                .attr("stroke", "steelblue")
                .attr("stroke-width", 1)
                .attr("d", line)
                .attr("clip-path", `url(#clip-${chartId})`);

            const zoom = d3.zoom()
                .scaleExtent([1, 1])
                .translateExtent([[0, 0], [totalWidth, height]])
                .extent([[0, 0], [viewWidth, height]])
                .on("zoom", zoomed);

            svg.call(zoom);
            const minTranslateX = 0;
            const maxTranslateX = -1 * (totalWidth - viewWidth);
            d3.select(".next-button")
                .on("click", function () {
                    const currentTransform = d3.zoomTransform(svg.node());
                    let newTransform = currentTransform.translate(-tickInterval, 0);
                    if (newTransform.x < maxTranslateX) newTransform.x = maxTranslateX;
                    svg.transition()
                        .duration(500)
                        .call(zoom.transform, newTransform);
                });

            d3.select(".prev-button")
                .on("click", function () {
                    const currentTransform = d3.zoomTransform(svg.node());
                    let newTransform = currentTransform.translate(tickInterval, 0);
                    if (newTransform.x > minTranslateX) newTransform.x = minTranslateX;
                    svg.transition()
                        .duration(500)
                        .call(zoom.transform, newTransform);
                });

            function zoomed(event) {
                const transform = event.transform;
                if (transform.x > minTranslateX) transform.x = minTranslateX;
                if (transform.x < maxTranslateX) transform.x = maxTranslateX;


                const zx = transform.rescaleX(x);
                xAxisG.call(xAxis.scale(zx));
                path.attr("d", line.x(d => zx(new Date(d.date))));
                svg.selectAll(".hourly-grid")
                    .attr("x1", d => zx(d))
                    .attr("x2", d => zx(d));
            }
        }
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</div>
<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            ©
            <script>document.write(new Date().getFullYear());</script>
            , made with ❤️ by
            <a href="https://themeselection.com"
               target="_blank"
               class="footer-link fw-medium">ThemeSelection</a>
        </div>
        <div class="d-none d-lg-inline-block">
            <a href="https://themeselection.com/license/"
               class="footer-link me-4"
               target="_blank">License</a>
            <a href="https://themeselection.com/"
               target="_blank"
               class="footer-link me-4">More Themes</a>
            <a href="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/documentation/"
               target="_blank"
               class="footer-link me-4">Documentation</a>
            <a href="https://themeselection.com/support/"
               target="_blank"
               class="footer-link d-none d-sm-inline-block">Support</a>
        </div>
    </div>
</footer>
<!-- / Footer -->
<div class="content-backdrop fade"></div>
<!--/ Content wrapper -->
{% include 'footer.html' %}
