{% load static %}
<div class="layout-container layout-content-navbar">
    <!-- Menu -->
    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
        <div class="app-brand demo">
            <a href="/landing/user" class="app-brand-link">
                <span class="app-brand-logo demo">
                    <svg width="173"
                         height="169"
                         viewBox="0 0 173 169"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M146.914 106.19C131.02 141.46 94.3506 167.539 55.9688 167.935C101.92 169.74 160.221 165.605 170.783 137.343C175.94 123.549 166.538 112.673 146.914 106.2V106.19Z" fill="#A0765F" />
                        <path d="M99.8774 0.004398C53.5116 0.483251 9.63212 38.46 1.87839 84.8258C-5.87534 131.192 25.4251 168.395 71.7909 167.925C110.164 167.529 146.833 141.45 162.736 106.181C166.051 98.8323 168.455 91.0969 169.79 83.1038C177.544 36.7379 146.243 -0.465246 99.8774 0.004398Z" fill="#EAEA73" />
                    </svg>
                </span>
                <span class="app-brand-text demo menu-text fw-bold ms-2">Button</span>
            </a>
            <a class="layout-menu-toggle menu-link text-large ms-auto">
                <i class="bx bx-chevron-left bx-sm align-middle">
                </i>
            </a>
        </div>
        <div class="menu-inner-shadow"></div>
        <ul class="menu-inner py-1">
            <!-- Dashboards -->
            <li class="menu-header small text-uppercase fs-4">
                <span class="menu-header-text">데이터</span>
            </li>
            <li class="menu-item {% if request.resolver_match.route|slice:":6" == 'users/' %}active open{% endif %}">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-user"></i>
                    <div class="text-truncate" data-i18n="사용자 관리">사용자 관리</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item {% if request.resolver_match.url_name == 'user_manage' %}active{% endif %}">
                        <a href='/user/manage' class="menu-link">
                            <div class="text-truncate">사용자 관리</div>
                        </a>
                    </li>
                    <li class="menu-item {% if request.resolver_match.url_name == 'part' %}active{% endif %}">
                        <a href="/user/part" class="menu-link">
                            <div class="text-truncate">사용자 계정관리</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item {% if request.resolver_match.route|slice:":5" == 'data/' %}active open{% endif %}">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                    <div class="text-truncate">재배동</div>
                    <span class="badge badge-center rounded-pill bg-danger ms-auto">5</span>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item {% if request.resolver_match.url_name == 'deviceControl' %}active{% endif %}">
                        <a href="/device/control" class="menu-link">
                            <div class="text-truncate">재배동 관리</div>
                        </a>
                    </li>
                    <li class="menu-item {% if request.resolver_match.url_name == 'deviceExplain' %}active{% endif %}">
                        <a href="/device/explain" class="menu-link">
                            <div class="text-truncate">재배동 상세</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item {% if request.resolver_match.route|slice:":6" == 'order/' %}active open{% endif %}">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-cart"></i>
                    <div class="text-truncate">주문관리</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item {% if request.resolver_match.url_name == 'delivery' %}active{% endif %}">
                        <a href="/order/delivery" class="menu-link">
                            <div class="text-truncate">주문 조회/등록</div>
                        </a>
                    </li>
                    <li class="menu-item {% if request.resolver_match.url_name == 'build' %}active{% endif %}">
                        <a href="/order/build" class="menu-link">
                            <div class="text-truncate">주문 상세/설계</div>
                        </a>
                    </li>
                    <li class="menu-item {% if request.resolver_match.url_name == 'item' %}active{% endif %}">
                        <a href="/order/item" class="menu-link">
                            <div class="text-truncate">품목정보 관리</div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Layouts -->
            <li class="menu-item {% if request.resolver_match.route|slice:":7" == 'manage/' %}active open{% endif %}">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-calendar"></i>
                    <div class="text-truncate">재배일자 관리</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item {% if request.resolver_match.url_name == 'auto' %}active{% endif %}">
                        <a href="/manage/auto" class="menu-link">
                            <div class="text-truncate" data-i18n="자동재배 관리">자동재배 관리</div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Layouts -->
            <li class="menu-item {% if request.resolver_match.route|slice:":10" == 'breakDown/' %}active open{% endif %}">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-error"></i>
                    <div class="text-truncate" data-i18n="고장식별 기준관리">고장식별 기준관리</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item {% if request.resolver_match.url_name == 'controlError' %}active{% endif %}">
                        <a href="/breakdown/control" class="menu-link">
                            <div class="text-truncate">제어장비</div>
                        </a>
                    </li>
                    <li class="menu-item {% if request.resolver_match.url_name == 'collectError' %}active{% endif %}">
                        <a href="/breakdown/collect" class="menu-link">
                            <div class="text-truncate">수집장비</div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Front Pages -->
            <li class="menu-item {% if request.resolver_match.route|slice:":8" == 'harvest/' %}active open{% endif %}">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-store"></i>
                    <div class="text-truncate" data-i18n="재배가이드 관리">재배가이드 관리</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item {% if request.resolver_match.url_name == 'Manual' %}active{% endif %}">
                        <a href="/harvest/manual" class="menu-link">
                            <div class="text-truncate" data-i18n="메뉴얼 관리">메뉴얼 관리</div>
                        </a>
                    </li>
                    <li class="menu-item {% if request.resolver_match.url_name == 'FAQ' %}active{% endif %}">
                        <a href="/harvest/faq" class="menu-link">
                            <div class="text-truncate" data-i18n="문의, FAQ 관리">문의, FAQ 관리</div>
                        </a>
                    </li>
                    <li class="menu-item {% if request.resolver_match.url_name == 'Info' %}active{% endif %}">
                        <a href="/harvest/info" class="menu-link">
                            <div class="text-truncate" data-i18n="공지사항 관리">공지사항 관리</div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- e-commerce-app menu end -->
            <!-- Academy menu start -->
            <li class="menu-item {% if request.resolver_match.route|slice:":6" == 'alarm/' %}active open{% endif %}">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-book-open"></i>
                    <div class="text-truncate" data-i18n="알림 관리">알림 관리</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item {% if request.resolver_match.url_name == 'control' %}active{% endif %}">
                        <a href="/alram/control" class="menu-link">
                            <div class="text-truncate" data-i18n="제어 알림 관리">제어 알림 관리</div>
                            <span class="badge badge-center rounded-pill bg-danger ms-auto">5</span>
                        </a>
                    </li>
                    <li class="menu-item {% if request.resolver_match.url_name == 'Contact' %}active{% endif %}">
                        <a href="/alram/contact" class="menu-link">
                            <div class="text-truncate" data-i18n="고객센터 알림관리">고객센터 알림관리</div>
                        </a>
                    </li>
                    <li class="menu-item {% if request.resolver_match.url_name == 'etc' %}active{% endif %}">
                        <a href="/alram/etc" class="menu-link">
                            <div class="text-truncate" data-i18n="기타 알림관리">기타 알림관리</div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
    <!-- / Menu -->
    <!-- Layout container -->
    <div class="layout-page">
        <!-- Navbar -->
        <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
             id="layout-navbar">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                    <i class="bx bx-menu bx-sm"></i>
                </a>
            </div>
            <div class="navbar-nav-right d-flex align-items-center"
                 id="navbar-collapse">
                <!-- Search -->
                <div class="navbar-nav align-items-center">
                    <div class="nav-item navbar-search-wrapper mb-0">
                        <a class="nav-item nav-link r px-0" href="javascript:void(0);">
                            <i class="bx bx-search bx-sm"></i>
                            <span id="menuTitle" class="d-none d-md-inline-block text-muted">{{ request.resolver_match.url_name }}</span>
                        </a>
                    </div>
                </div>
                <!-- /Search -->
                <ul class="navbar-nav flex-row align-items-center ms-auto">
                    <!-- User -->
                    {% if user.is_authenticated %}
                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <a class="nav-link dropdown-toggle hide-arrow"
                               href="javascript:void(0);"
                               data-bs-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    <img src="{% static '/assets/img/avatars/1.png' %}"
                                         alt=""
                                         class="w-px-40 h-auto rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar avatar-online">
                                                    <img src="{% static '/assets/img/avatars/1.png' %}"
                                                         alt=""
                                                         class="w-px-40 h-auto rounded-circle">
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="fw-medium d-block">John Doe</span>
                                                <small class="text-muted">Admin</small>
                                            </div>
                                        </div>
                                    </a>
                                    <li>
                                    <form action="/auth/logout/"  method="post">
                                        {% csrf_token %}
                                        <button class="dropdown-item" type="submit">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Log Out</span>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="/auth/login/" class="nav-link">
                                <i class="bx bx-log-in bx-sm"></i>
                            </a>
                        </li>
                    {% endif %}
                    <!--/ User -->
                </ul>
            </div>
            <!-- Search Small Screens -->
            <div class="navbar-search-wrapper search-input-wrapper d-none">
                <input type="text"
                       class="form-control search-input container-xxl border-0"
                       placeholder="{{ request.resolver_match.url_name }}">
                <i class="bx bx-x bx-sm search-toggler cursor-pointer"></i>
            </div>
        </nav>
        <!-- / Navbar -->
        <!-- Content wrapper -->
        <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
                <!-- Content -->
